sewingutils.code-workspace
.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
dist/*
__pycache__
.vscode/*
build/*
*.mo
venv/*
test/*.pdf
!test/userunit*.pdf

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt