.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
dist/*
__pycache__
.DS_Store
*/*.pyc
.vscode/*
build/*
*.mo
venv/*
tests/*.pdf
tests/integration/*.pdf

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt