.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
dist/*
__pycache__
.DS_Store
*/*.pyc
.vscode/*
*.mo
venv/*
tests/*.pdf
tests/integration/*.pdf
.coverage

# Distribution / packaging
bin/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs

*.app
*.build
*.dist

# Installer logs
pip-log.txt
pip-delete-this-directory.txt